@mixin dim($width, $height: "") {
  width: $width;

  @if $height  !="" {
    height: $height;
  }

  @else {
    height: $width;
  }

}


@mixin unButton {
  border: none;
  padding: unset;
  background: none;
}


@function hslColor($lightness, $hue: 0, $saturation: 0%) {
  @return hsl($hue, $saturation, $lightness);
}


.monoFont {
  font-family: 'Roboto Mono', monospace !important;
}


[dark=false] {
  --fontColor1: #{hslColor(0%)};
  --fontColor2: #{hslColor(20%)};

  --bgColor1: #{hslColor(80%)};
  --bgColor2: #{hslColor(60%)};

  --shadowColor1: #{hslColor(15%)};
}


[dark=true] {
  @extend [dark=false];
  --fontColor1: #{hslColor(80%)};
  --fontColor2: #{hslColor(60%)};

  --bgColor1: #{hslColor(25%)};
  --bgColor2: #{hslColor(55%)};

  --shadowColor1: #{hslColor(0%)};
}


[reduce=true] * {
  animation: none !important;
  transition: none !important;
}