@mixin dim($width: 0, $height: 0) {
  width: $width;
  height: $height;
}


@function hslColor($lightness, $hue: 0, $saturation: 0%) {
  @return hsl($hue, $saturation, $lightness);
}


.light {
  --fontColor1: #{hslColor(0)};
  --fontColor2: #{hslColor(20)};

  --bgColor1: #{hslColor(80)};
  --bgColor2: #{hslColor(60)};

  --shadowColor1: #{hslColor(15)};
}


.dark {
  @extend .light;
  --fontColor1: #{hslColor(80)};
  --fontColor2: #{hslColor(60)};

  --bgColor1: #{hslColor(25)};
  --bgColor2: #{hslColor(55)};

  --shadowColor1: #{hslColor(0)};
}


.reduced * {
  animation: none !important;
  transition: none !important;
}