

.light {
  --bg1: #cccccc;

  --fontColor1: #000000;

  --shadow1: #858585;

  --menuBg1: #f3f3f3;

  --swBullet: #ffffff;
  --swContainer: #cccccc;

  --menuBullet: #ffffff;
  --menuContainer: #cccccc;

  transition: 0.25s;
}


.dark {
  --bg1: #313131;
  
  --fontColor1: #ffffff;
  
  --shadow1: #000000;

  --menuBg1: #555555;
  
  --swBullet: #cfcfcf;
  --swContainer: #313131;

  --menuBullet: #cfcfcf;
  --menuContainer: #313131;

  transition: 0.25s;
}
