.light {
  --fontColor1: #575757;

  --bgColor1: #cccccc;

  --shadowColor1: #858585;
}


.dark {
  @extend .light;
  --fontColor1: #d3d3d3;

  --bgColor1: #313131;

  --shadowColor1: #000000;
}


@mixin dim($width: 0, $height: 0) {
  width: $width;
  height: $height;
}


@function hslColor($lightness, $hue: 0, $saturation: 0%) {
  @return hsl($hue, $saturation, $lightness);
}